@font-face {
    font-family: 'Metropolis Semi';
    src: url('fonts/Metropolis-SemiBold.woff2') format('woff2'),
        url('fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-weight: bolder;
}


body {
    font-family: 'Metropolis Semi', Arial, sans-serif;
    background: linear-gradient(0deg, rgb(0, 0, 0) 1%, rgb(20, 20, 20) 190%);
    color: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Faz com que o conteúdo preencha a tela */
    display: flex;
    flex-direction: column; /* Garante que os elementos no body fiquem empilhados */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(10, 10, 10) 1%, rgb(10, 10, 10) 190%);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

header .logo {
    height: 60px;
    width: auto;
    margin-right: 0px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: rgb(131, 140, 241, 0.9);
    text-align: center;
}

#summary {
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    text-align: center;
}

#summary-text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight:bold;
    color: rgb(233, 232, 232);
    text-align: center;
}

/* Layout para os gráficos com grid */
.charts {
    display: grid;
    gap: 30px; /* Espaçamento entre os gráficos */
    justify-items: center; /* Centraliza os gráficos na célula */
    padding: 20px;
}

/* Duas colunas para janelas grandes */
@media (max-width: 650px) {
    .chart-container {
        height: 4dvb;  /* Reduz a altura dos gráficos em telas pequenas */
        width: 350px;
    }
    .info-box {
        width: 200px;
        height: 200px;
    }
}

/* Duas colunas para janelas grandes */
@media (min-width: 850px) {
    .charts {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
    .chart-container {
        height: 4dvb;  /* Reduz a altura dos gráficos em telas pequenas */
        width: 400px;
    }
}

/* Duas colunas para janelas grandes */
@media (min-width: 1200px) {
    .charts {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
    .chart-container {
        height: 400px;  /* Reduz a altura dos gráficos em telas pequenas */
        width: 550px;
    }
}

/* Uma única coluna para janelas pequenas */
@media (min-width: 650px) and (max-width: 849px)  {
    .charts {
        grid-template-columns: 1fr; /* Uma única coluna */
    }
    .chart-container {
        height: 250px;  /* Reduz a altura dos gráficos em telas pequenas */
        width: 600px;
    }
}

/* Container dos gráficos */
.chart-container {
    max-width: 600px;   /* Limita a largura máxima do gráfico */
    height: 300px;      /* Altura fixa para manter a proporção */
}

/* A largura e altura do gráfico ocupam 100% do container */
canvas {
    width: 100%;
    height: 100%;
}



#spotify-info {
    display: flex-start;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(0deg, rgb(30,40,60) 1%, rgb(18, 24, 38) 50%);;
    color: #e9e8e8;
    border-radius: 40px;
    padding: 20px;
    width: 350px;
    height: 250px;
    position: relative;
}

.spotify-logo {
    position: absolute;
    top: 5px;
    left: 165px;
    width: 60px;
    height: 60px;
}

.info-text {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight:bold;
    margin-top: 15px;
    position: relative;
    top: 15px; 
    padding-left: 25px;
}

/* Duas colunas para janelas grandes */
@media (max-width: 650px) {
    .info-box {
        width: 250px;
        height: 200px;
    }
    .info-text {
        font-size: 14px;
        font-weight:bold;
        margin-top: 10px;
        position: relative;
        top: 15px; 
        padding-left: 25px;
    }
    .spotify-logo {
        left: 120px;
        height: 50px;
        width: 50px;
    }
}
